 <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModalGallery" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
              <div class="container">
      <div id="main_area">
              <!-- Slider -->
              <div class="row">
                  <div class="col-xs-12" id="slider">
                      <!-- Top part of the slider -->
                      <div class="row">
                          <div class="col-sm-8" id="carousel-bounding-box">
                              <div class="carousel slide" id="myCarousel">
                                  <!-- Carousel items -->
                                  <div class="carousel-inner">
                                    {% for post in site.posts %}
                                    {% if forloop.index0 == 0 %}
                                        <div class="active item" data-slide-number="{{ post.modal-id }}">
                                    {% else if %}
                                      <div class="item" data-slide-number="{{ post.modal-id }}">
                                    {% endif %}
                                      <img src="img/portfolio/{{ post.img }}"></div>
                                    {% endfor %}
                                  </div><!-- Carousel nav -->
                                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                      <span class="fa fa-angle-left fa-3x"></span>
                                  </a>
                                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                      <span class="fa fa-angle-right fa-3x"></span>
                                  </a>
                                  </div>
                          </div>

                          <div class="col-sm-4" id="carousel-text"></div>
                          {% for post in site.posts  %}
                          <div id="slide-content" style="display: none;">
                              <div id="slide-content-{{ post.modal-id }}">
                                  <h2>{{ post.title }}</h2>
                                  <p>{{ post.subtitle }}</p>
                                  <p class="sub-text">
                                      Le {{ post.date | date: "%d/%m/%y"  }}
                                  </p>
                                  <h3>Artistes</h3>
                                  {% for artist in post.artists %}
                                    <p class="artist">{{ artist.name }} ({{ artist.instrument }})</p>
                                  {% endfor %}
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div><!--/Slider-->

              <div class="row hidden-xs" id="slider-thumbs">
                      <!-- Bottom switcher of slider -->
                      <ul class="hide-bullets">
                          {% for post in site.posts %}
                          <li class="col-sm-2">
                              <a class="thumbnail" id="carousel-selector-{{ post.modal-id }}"><img src="img/portfolio/{{ post.thumbnail }}"></a>
                          </li>
                          {% endfor %}
                      </ul>
              </div>
      </div>
</div>
            </div>
        </div>
    </div>
