{% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
{% assign events = site.events | sort:"date" %}
{% for event in events %}
  {% capture eventdate %}{{event.date | date: '%s'}}{% endcapture %}
  {% if eventdate > nowunix %}
    {% capture eventname %}{{ event.name }}{% endcapture %}
    {% capture eventplacename %}{{ event.place_name }}{% endcapture %}
    {% capture eventaddress %}{{ event.address }}{% endcapture %}
    {% capture eventdate %}{{ event.date }}{% endcapture %}
    {% capture eventtime %}{{ event.time }}{% endcapture %}
    {% break %}
  {% endif %}
{% endfor %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Default OpenGraph -->
    <meta property="og:locale" content="fr_FR" />

    {% if eventname %}
    <!-- News OpenGraph -->
      <meta property="og:title" content="Nouveau concert {{ eventname }}" />
      <meta property="og:type" content="article" />
      <meta property="og:description" content="{{ eventplacename }}, le {{ eventdate | date: '%d %m %y' }} à {{ eventtime }}" />
      <meta property="og:url" content="http://www.serge-lavalette.fr/#news" />
      <meta property="og:image" content="http://www.serge-lavalette.fr/img/serge-rock.jpg" />
    {% else %}
    <!-- OpenGraph -->
      <meta property="og:title" content="Serge Lavalette" />
      <meta property="og:type" content="website" />
      <meta property="og:description" content="{{ site.description }}" />
      <meta property="og:url" content="http://www.serge-lavalette.fr/" />
      <meta property="og:image" content="http://www.serge-lavalette.fr/img/serge.jpg" />
    {% endif %}


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"></link>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
