 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <h3>Artistes</h3>
                            {% for artist in post.artists %}
                              <p class="artist">{{ artist.name }} ({{ artist.instrument }})</p>
                            {% endfor %}
                            <ul class="list-inline item-details">
                                <li>Organisateur:
                                    <strong>
                                      <a>{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Lieu:
                                    <strong>
                                      <a>{{ post.place }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
