<!-- Music Section -->
    <section id="music">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Musique</h2>
                    <h3 class="section-subheading text-muted">Extraits du nouvel album "Back in Town".</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <iframe id="video-youtube" src="https://www.youtube.com/embed/{{ site.video.id }}?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="musics">
              {% for music in site.musics %}
                <div>
                    <h4 class="service-heading">{{ music.title }}</h4>
                      <iframe
                        width="100%"
                        height="166"
                        scrolling="no"
                        frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ music.sound-cloud-id }}&amp;color={{ site.data.template.color.primary }}&amp;auto_play={{ music.auto-play }}&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
                    <p class="text-muted">{{ music.description }}</p>
                </div>
              {% endfor %}
            </div>

            <div class="paypal-button">
              <a class="page-scroll btn btn-xl paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=T8JXTN724535W">
                <div>Commander l'album</div>
                <img class="paypal-logo" src="img/PayPal_2014_logo.svg.png" alt="PayPal" />
              </a>
            </div>

            <div class="row text-center stores">
              <h3>Ou télécharger la version numérique</h3>
              <div id="stores">
                {% for store in site.stores %}
                <div>
                  <a href={{ store.link }}><img src={{ store.logo }} alt="{{ store.name }} logo" /></a>
                </div>
                {% endfor %}
              </div>
            </div>

        </div>
    </section>
