<!-- Music Section -->
    <section id="music">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Music</h2>
                    <h3 class="section-subheading text-muted">Bulk few selected pieces</h3>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-4">
                  <h4 class="service-heading">Back In Town</h4>
                  {% soundcloud_sound 275415715 %}
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
              </div>
              <div class="col-md-4">
                  <h4 class="service-heading">Breaking Down</h4>
                  {% soundcloud_sound 275415327 %}
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
              </div>
              <div class="col-md-4">
                  <h4 class="service-heading">RN12</h4>
                  {% soundcloud_sound 275415857 %}
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
              </div>
            </div>
        </div>
    </section>
