{% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
{% assign events = site.events | sort:"date" %}
{% for event in events %}
  {% capture eventdate %}{{event.date | date: '%s'}}{% endcapture %}
  {% if eventdate > nowunix %}
    {% capture eventname %}{{ event.name }}{% endcapture %}
    {% capture eventplacename %}{{ event.place_name }}{% endcapture %}
    {% capture eventaddress %}{{ event.address }}{% endcapture %}
    {% capture eventdate %}{{ event.date }}{% endcapture %}
    {% capture eventtime %}{{ event.time }}{% endcapture %}
    {% break %}
  {% endif %}
{% endfor %}

<!-- News Section -->
{% if eventname %}
    <section id="news" class="bg-light-gray">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Actualités</h2>
                  <h3 class="section-subheading text-muted">Prochain concert</h3>
              </div>
          </div>
          <div class="event">
            <h2>{{ eventname }}</h2>

            <div class="event-info">
              <i class="fa fa-calendar fa-2x"></i>
              <h3>
                {% assign m = eventdate | date: "%-m" %}
                {{ eventdate | date: "%-d" }}
                {% case m %}
                  {% when '1' %} Janvier
                  {% when '2' %} Févier
                  {% when '3' %} Mars
                  {% when '4' %} Avril
                  {% when '5' %} Mai
                  {% when '6' %} Juin
                  {% when '7' %} Juillet
                  {% when '8' %} Août
                  {% when '9' %} Septembre
                  {% when '10' %} Octobre
                  {% when '11' %} Novembre
                  {% when '12' %} Décembre
                {% endcase %}
                {{ eventdate | date: "%Y" }}
              </h3>
            </div>

            <div class="event-info">
              <i class="fa fa-clock-o fa-2x"></i>
              <h3>{{ eventtime }}</h3>
            </div>

            <div class="event-address-info">
              <h5>{{ eventplacename }}</h5>
              <div class="event-info">
                <i class="fa fa-map-marker fa-2x"></i><h5 id="address"> {{ eventaddress }}</h5>
              </div>
            </div>
          </div>

          <div id="map"></div>

          <div class="fb-share-button" data-href="http://www.serge-lavalette.fr/#news" data-layout="button" data-size="small" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.serge-lavalette.fr%2F%23news&amp;src=sdkpreparse">Partager</a>
          </div>
        </div>
    </section>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
