<!-- Resume Section -->
    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Biographie</h2>
                    <h3 class="section-subheading text-muted">Serge Lavalette c'est:</h3>
                </div>
            </div>

            <div id="counter">
              {% assign sorted_counters = site.counters | sort:"number" | reverse %}
              {% for counter in sorted_counters %}
              <div class="count-item">
                <h2><span class="count">{{ counter.number }}</span></h2><h4> {{ counter.name }} !</h4>
              </div>
              {% endfor %}
            </div>

            <div class="download-image">
              <a href="download/bio-serge.pdf" style="color: black; underline: none" download>
                <h4>Télecharger Biographie</h4><i class="fa fa-download fa-2x" aria-hidden="true"></i>
              </a>
            </div>

        </div>
    </section>
